/* Clear both sides to assist with div alignment  */
.clr { clear:both; padding:0; margin:0; width:100%; font-size:0px; line-height:0px;}
		
/* Footer */
#footer { background:#fff; position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);}
#footer-inner { margin:auto; text-align:center; padding:12px; width:922px;}
#footer a {color:green; text-decoration:none;}