<div class="wrapper">
    <div class="sidebar">
        <nav class="menubar">
            <label class="accountName">Jhon Doe</label>
            <ul class="category">
                <li class="categoryLi">
                    <label class="categoryDesc"><mat-icon>home</mat-icon> Home</label>
                </li>
                <li class="categoryLi">
                    <label class="categoryDesc"><mat-icon>favorite_border</mat-icon> Food</label>
                </li>
                <li class="categoryLi">
                    <label class="categoryDesc"><mat-icon>motorcycle</mat-icon> Motorcycle</label>
                </li>
                <li class="categoryLi">
                    <label class="categoryDesc"><mat-icon>pets</mat-icon> Pets</label>
                </li>
                <li class="categoryLi">
                    <label class="categoryDesc"><mat-icon>explicit</mat-icon> Explicit</label>
                </li>
            </ul>
        </nav>
    </div>
    <div class="search__container">
        <input class="search__input" type="text" placeholder="Search">
        
    </div>
</div>
